body {
  font-family: Arial;
  background-color: #E3E6E6;
  box-sizing: border-box;
}

.hero-section {
  /* background-image: url(Images/pic1.jpg);
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start; */
 /* -webkit-mask-image: linear-gradient(#0000,rgb(0, 0, 0,0));
  mask-image: linear-gradient(#0000,rgb(0,0,0,0));  */
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  mask-image: linear-gradient(to bottom, black, black, transparent 95%);
}

.main-pic {
  height: 600px;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-msg {
  /* background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 96%;
  margin-top: 250px; */

  background-color: #f5f6f6;
  color: black;
  height: 40px;
  font-size: 14px;
  position: absolute;
  top: 250px;
  right: 25px;
  left: 25px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 900px;
}

.hero-msg a {
  font-size: 14px;
  color: #007185;
  line-height: 20px;
}

.box span {
  font-size: 14px;
  color: #2162a1;
}

.box1 span {
  padding-top: 20px;
}

/* second section */

.shop-section {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  top: 408px;
  right: 25px;
  left: 25px;

  display: flex; 
  justify-content: space-evenly;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.shop-section h2{
  font-size: 21px;
}

.box{
  background: #fff;
  height: 420px;
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px; */
  /* padding-bottom: 15px; */
}

.box-img {
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  justify-content: flex-start;
}

.box1 {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.box h2 {
  /* display: flex; 
  padding-bottom: 10px; */
  padding: 0 20px;
  margin-bottom: 10px;
}

@media (max-width: 903px) {
  .shop-section {
    grid-template-columns: 306.66px 306.66px 306.66px;
  }
}

@media (min-width: 9050px) and (max-width: 1250px){
  .shop-section {
    grid-template-columns: 385.99px 385.99px 385.99px;
  }
}

@media (min-width: 1240px) {
  .shop-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1240px) {
  .Last {
    display: none;
  }
}

/* box 2 */
.box2 img{
  height: 83px;
  /* width: 120px; */
}

.box2 {
   padding: 20px 0px 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box2 span {
  height: auto;
  display: inline-block;
  width: 100%;
  white-space: normal;
}

.box2-img div {
  font-size: 12px;
  margin-bottom: 20px;
}

.box-img, 
.box span {
  cursor: pointer;
}

.box span:hover {
  color: gray;
}

.box span {
  display: inline-block;
  width: 100%;
  white-space: normal;
}

.box2 span {
  padding-top: 80px;
}

.link {
  margin: 0px 0px 10px;
  padding: 0px 20px;
}

/* book section */

.product-section {
  margin: 20px;
  position: relative;
  top: 1010px;
  background-color: white;
}

.product-section h2 {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.product-carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.product-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px;
  scrollbar-width: none;
}

.product-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.product-item {
  min-width: 150px;
  flex-shrink: 0;
}

.product-item img {
  /* width: 100%; */
  height: auto;
      max-height: 266px;
    min-height: 133px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

@media (min-width: 1240px) {
  .product-section {
    top: 600px;
  }
}

/* footer */

.sign-in-section{
  position: relative;
  top: 1000px;
  background-color: white;
  text-align: center;

  /* border: 1px solid #DDD; */
  border-radius: 5px;
  padding: 0 20px;

  line-height: 15px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-in-box {
  border: 1px solid #DDD;
}

.sign-in-section p{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 8px;
}

.sign-in-btn {
  background-color: #ffd814;
    border: none;
    color: #0f1111;
    padding: 5px 50px 5px 50px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

 .signin-button:hover {
      background-color: #f7ca00;
    }

  .new-customer {
      margin-top: 5px;
      font-size: 12px;
      margin-bottom: 20px;
    }

  .new-customer a {
      color: #007185;
      text-decoration: none;
    }
  .new-customer a:hover {
      text-decoration: underline;
    }

.foot-panel1 {
  background: #37475a; 
  display: block;
  padding: 15px 0px;
  text-align: center;
  position: relative;
  height: 49px;

  top: 1001px;
  left: 0;
  width: 100%;
}

.foot-panel1 a{
  color: white;
  font-size: 13px;
}

.foot-panel2 {
  position: relative;
  top: 1001px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;

  background-color: #232F3E;
  color: white;
  margin-top: 0;
}

.foot-panel2 p{
  font-weight: bold;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

.foot-panel2 li{
  color: #DDDDDD;
  display: block;
  margin: 0 0 10px;
}

.foot-panel2 ul{
  margin-top: 35px;
  margin-bottom: 50px;
}

.foot-panel3 {
  position: relative;
  top: 1001px;

  color: white;
  background-color: #232F3E;
  border-top: 1px solid #3a4553;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.logo {
  background-image: url(Images/amazon_logo.jpg);
  height: 50px;
  width: 100px;
  background-size: cover;
} 

.foot-panel4 {
  position: relative;
  top: 1001px; 
  background-color: #131A22;
  color: white;
  font-size: 12px;
  padding: 10px 0 30px;
  text-align: center;
}

.pages a{
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.copyright {
   padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 1240px) {
  .sign-in-section{
  top: 600px;
  }

  .foot-panel1 {
  top: 600px;
}

.foot-panel2 {
  top: 600px;
}

.foot-panel3 {
  top: 600px;
  }

 .foot-panel4 {
  top: 600px;
  }
}
